@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600&family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&family=Euphoria+Script&family=Fenix&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&family=Euphoria+Script&family=Spectral:wght@200;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* font-family: 'Eczar', serif;
font-family: 'Inter', sans-serif; */



.tema-color {
  position: fixed;
  right: 0;
  top: 300px;
  z-index: 90;
  background: transparent;
}

.cont-colores {
  width: 100px;
  padding: 30px 0;
  height: 200px;
  background: rgb(255, 255, 255);
  text-align: center;
  position: absolute;
  right: -100px;
  transition: 1s;
  top: -64px;
}

.cont-colores.active {
  right: 0;
}

.cont-colores button {
  width: 30px;
  height: 30px;
  color: transparent;
  border-radius: 40px;
  display: block;
  margin: 10px auto;
}

.open-panel.active {
  right: 37px;
}

.cont-colores button:nth-child(1){
  background: #C400C6;
}

.cont-colores button:nth-child(2){
  background: #8b8a8a;
  }
  
.cont-colores button:nth-child(3){
  background: #e9ade1;
}

.open-panel {
 background: #ffff;
 color: #ad09e4; 
 padding: 12px 50px ;
 transform: rotate(-90deg);
 position: relative;
 right: -64px;
 transition: 1s;
}



body {
    background-color: #070707;
}

nav {
    border: 8px solid #070707;
    border-radius: 20px;
    font-family: serif;
    background-color: #E5B8F4 !important;
}

nav div a {
    margin-left: 70px;
    padding-left: 35px;
    padding-right: 35px;
    border-bottom:2px solid #070707 ;
    font-weight: bold;
    font-size: 25px;
    -webkit-text-stroke: 1px hsl(0, 7%, 67%);
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    
}

.rayita a {
    font-weight: bold;
    color: #070707;
    margin-left: 50px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-bottom:2px solid #070707 ;
    font-size: 25px;
    -webkit-text-stroke: 1px hsl(0, 7%, 67%);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.495);
}

.footerCopyright{
  border: 4px solid white;
  text-align: center;
  border-radius: 30px;
}

#hero {
    display: flex;
    background-color: #E5B8F4;
    padding-bottom: 100px;
    clip-path: polygon(100% 0%, 100% 67%, 25% 93%, 0% 50%, 0% 0%);/*para hacer una figura*/
    border-bottom-left-radius: 83% 88%;
    border-bottom-right-radius: 0% 180%;
}

#hero #nombre{
   text-align:center; 
   padding: 150px;
   border-style: 10px solid #ffff;
}

#hero #nombre h2{

    font-size: 75px;
    -webkit-text-stroke: 1px hsl(0, 0%, 98%); /*para bordear las letras*/
    font-family: 'Fenix', serif; 
    padding-left: 15px;
    text-shadow: 10px 2px 4px  #00000071;/*para hacer sobra*/
}
    

#hero #nombre .uno{
  font-size: 55px;
  color: #fffafa;
  -webkit-text-stroke: 1.5px hsl(0, 0%, 1%);
  text-shadow: 10px 2px 4px  #00000073;
  font-family: 'Fenix', serif;
}

#hero #nombre .dos{
font-size: 55px;
color: #000000;
-webkit-text-stroke: 1.5px hsl(0, 0%, 100%);
text-shadow: 10px 2px 4px  #00000073;
font-family: 'Fenix', serif;
}

 #hero #nombre button{
    font-size: 35px;
    color: #8b8a8a;
    -webkit-text-stroke: 3px hsla(0, 0%, 0%, 0.643);
    font-family: 'Spectral', serif;
    background-color: rgba(0, 0, 0, 0.74);
    border: 3px solid #8b8a8a;
 }

#hero #imagen{
    text-align: center;
    padding-top: 50px;
    border-image: none;
    padding-right: 300px;
    /* transform: rotate(4deg);  */
 }

 #sobremi .img {
  /* padding-bottom: 200px; */
  padding-top: 100px;
  /* padding-right: 15px; */
 }

 #sobremi .texto {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 200px;
    margin-top: 150px;
 }

 #sobremi .texto h4 {
    margin-bottom: 80px;
 }

 #sobremi .texto p {
    text-align: justify;
 }

 #estudios h3{
    padding-top: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    color: #070707;
    -webkit-text-stroke: 3px #8b8a8a; 
    padding-left: 50px;
    font-weight: bold;   
 } 


.circulo {
    width: 170px;
    clip-path: circle(50% at 50% );
    background-color: #d9d9d95e;
    height: 170px;
    position:absolute;
    border-radius: 40px;
}

#contenedorTexto{
    display: none;
  }
  
  #contenedorCirculo:hover > #contenedorTexto{
    display: block;
  }

#contenedorTexto2{
    display: none;
  }
  
  #contenedorCirculo2:hover > #contenedorTexto2{
    display: block;
  }

#contenedorTexto3{
    display: none;
  }
  
  #contenedorCirculo3:hover > #contenedorTexto3{
    display: block;
  }

#cuadradoTexto{
    display: none;
  }
  
  #divContenedor:hover > #cuadradoTexto{
    display: block;
  }

  #cuadradoTexto1{
    display: none;
  }
  
  #divContenedor1:hover > #cuadradoTexto1{
    display: block;
  }

  #cuadradoTexto2{
    display: none;
  }
  
  #divContenedor2:hover > #cuadradoTexto2{
    display: block;
  }

  #cuadradoTexto3{
    display: none;
  }
  
  #divContenedor3:hover > #cuadradoTexto3{
    display: block;
  }

  #cuadradoTexto4{
    display: none;
  }
  
  #divContenedor4:hover > #cuadradoTexto4{
    display: block;
  }

.cuadradoGris {
    width: 20pz;
    background: gray;
    border-radius: 12px;
    text-align: center;
}

#estudios p{
    color: aliceblue;
    background-color: #d9d9d95e;
    border: 5px solid #e5b8f4aa;
    border-radius: 40px;
    text-align: center;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    position: absolute;
}

/* #estudios .texto {
  width: 200px;
} */

#estudios img{
    position: relative;
    right: 50px;
    bottom: 10px;
}


#estudios .circulo:has(~img:hover) {
    border:2px solid #8b8a8a;

}

  
#estudios img:hover #estudios p {
    opacity: 1; /* Muestra el texto al hacer hover sobre el contenedor */
  }

#perfilp h3 {
    padding-top: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    color: #070707;
    -webkit-text-stroke: 3px #8b8a8a; 
    padding-left: 50px;
    font-weight: bold;
 }

#perfilp .cuadrado {
    background-color: #d9d9d95e;
    margin-top: 50px;
    color: #ffff;
    font-family: 'Inter', sans-serif;
    border-radius: 25px;
    font-size: 15px;
}

#perfilp .cuadrado p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#perfilp button {
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#perfilp img{
    display: inline-block;/*cod*/
    width: 72px;
}

#perfilp .cuadrado:has(~img:hover) {
    border:2px solid #8b8a8a;
}



#habilidades h3 {
    padding-top: 130px;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    color: #070707;
    -webkit-text-stroke: 3px #8b8a8a; 
    padding-left: 50px;
    font-weight: bold; 
}

#Portafoliop h3 {
    padding-top: 90px;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    color: #070707;
    -webkit-text-stroke: 3px #8b8a8a; 
    padding-left: 50px;
    font-weight: bold; 
}

#Portafoliop img {
  width: 80%;
  margin-top: 10px;
  -moz-box-align: center;
}
  

footer {
    padding-top: 90px;
}

footer .container {
    padding-top: 100px;

}

footer img{
  padding-left: 100px;
  padding-right: 100px;
}

/* @media (max-width: 1200px) {

  #hero #nombre p{
    color: #8b8a8a;
  }

} */
 

/* SMARTPHONE */
@media (max-width: 400px){

  /* #hero #imagen img{
    width: 80px;
  } */

  #nvar{
        width: 100vw;
    }

    #hero #nombre {
      padding: 0;
      
    }

    #hero #nombre p{
      font-size: 35px;  
      margin-top: 40px;   
      height: 20px;
    }

    #hero {
      clip-path: none; 
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 350px;
      
    }
    
    
    #hero #imagen {
      /* padding: 0;
      justify-content: center;
      transform: rotate(0);
      padding-left: 35%;
      width: 100PX; */
      display: none;
    }

    #hero button {
      display: none;
    }

    button.open-panel {
       transition: 1s;
    }

    #sobremi .texto h4 {
      margin-bottom: 0;
      margin-top: -245px;
      text-align: center;
      height: -35px;
      font-size: 35px;
    }

    #sobremi .texto p {
      margin-top: 50px;
    }


    #sobremi .img{
      margin-top: -280px;
        width: 100vw;
    }

    #estudios h3 {
      font-size: 43px;
      margin-top: -130px;
      text-align: center;
      margin-left: -40px;
    }

    #estudios .img {
      margin-top: 55px;
      padding-left: 75px;
      
    }
    
    #estudios #contenedorCirculo {
      width:  25%;
      
    }

    #estudios img {
      margin-bottom: 13px;
      width: 120px;
    }

    .circulo {
      margin-top: -29px;
      clip-path: circle(32% at 35% );
    }
    
    #estudios p {
      margin-right: 165px;
      padding-bottom: 1px;
      padding-top: 4px;
      margin-top: -10px;
      font-size: 15px;
      margin-bottom: 17px;
      
    }

    #estudios .texto {
      padding-bottom: 20px;
    }

    #perfilp h3 {
      font-size: 31px;
    }

    #perfilp #divontenedor {
      margin-top: 24px;
    display: flex;
    align-items: flex-start;
    padding-right: 24px;
    }

    .cuadradoGris {
      margin-top: 25px;
    }
    
    #habilidades h3 {
      text-align: center;
    }

    #Portafoliop img{
      width: 100%;
    }

    footer{
      width: 78%;
      margin: auto;
      margin-bottom: 10px;
    }

    footer img{
      padding-top: 15px;
    }
   
}

/* Tablet */
@media (min-width: 401px) and (max-width: 1180px)  {

  nav {
    position: fixed;
  }

  #hero #imagen {
    
    display: none;
  }

  #hero button {
    /* display: none; */
    padding-bottom: 25px;
    margin-bottom: 5px;
    margin-top: 80px;
    margin-left: 450px;
    /* width: 35px; */
    height: 55px;
  }

  

  #hero #nombre {
    padding: 0;
    
  }

  #hero #nombre p{
    margin-left: 169px;
    font-size: 35px;  
    margin-top: 83px;   
    height: 4px;
  }

  #hero {
    clip-path: none; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 329px;
    border-radius: 30px;
  }

  #hero #nombre .uno {
    width: 100%;
    font-size: 54px;
    padding-right: 62px;
  }

  #hero #nombre .dos {
    width: 100%;
    font-size: 54px;
    padding-right: 62px;
  }

  #sobremi .texto h4 {
    margin-bottom: 0;
    margin-top: -228px;
    text-align: center;
    height: -35px;
    font-size: 47px;
    width: 86vw;
  }

  #sobremi .texto p {
    margin-top: 52px;
    width: 135%;
    margin-left: 80px;
    
  }


  #sobremi .img{
    margin-top: -100px;
    /* margin-top: -280px; */
      width: 100vw;
  }

  hr {
    margin-top: -152px;
    border-bottom: 4px solid #C400C6;
    opacity: inherit;
  }

  #contenedorTexto {
    
    margin-left: -166px;
    padding-right: 43px;
    margin-top: 237px;
  }

  #contenedorTexto2 {
    
    margin-left: -166px;
    padding-right: 43px;
    margin-top: 237px;
  }

  #contenedorTexto3 {
    
    margin-left: -166px;
    padding-right: 43px;
    margin-top: 237px;
  }

  #perfilp h3 {
    padding-top: 80px;
  }

  #perfilp .cuadrado {
    margin-left: -58px;
    width: 25vw;
    background-color: #d9d9d95e;
    margin-top: 54px;
    color: #ffff;
    font-family: 'Inter', sans-serif;
    border-radius: 25px;
    font-size: 15px;
  }

  #perfilp .cuadrado p {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
  }

  #habilidades .col-md-3 {
    width: 32%;
  }

  footer {
    width: 100%;
    /* position: absolute; */
  }

}


  
  



















/* 
nav div a::before {
    content: " ";
    position: relative;
    width: 100px;
    height: 2px;
    background-color: #070707;
} */